#!/usr/bin/make -f
override_dh_auto_test:
	$(MAKE) check

override_dh_auto_build:
	$(MAKE) cqfd.1.gz cqfdrc.5.gz

override_dh_install:
	dh_install
	rm debian/cqfd6/usr/share/doc/cqfd6/CHANGELOG.md

%:
	PREFIX=/usr dh $@
